@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-0 .btn {
  font-size: 15px;
}
#slider-3 H1 {
  font-family: 'Indie Flower', cursive;
  text-align: left;
  color: #ffffff;
  font-size: 30px;
}
#slider-3 P {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
#slider-3 B {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#slider-3 I {
  color: #ffffff;
  font-size: 15px;
}
#contacts1-4 P {
  font-size: 12px;
}
#msg-box4-15 .mbr-header__text {
  color: #ffffff;
  text-align: center;
}
#msg-box4-15 .mbr-header__subtext {
  color: #ffffff;
  font-size: 16px;
}
#msg-box4-15 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .mbr-article P {
  color: #ffffff;
  text-align: center;
}
#dropdown-menu-5 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-5 .nav .link,
#dropdown-menu-5 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-5 .navbar,
#dropdown-menu-5 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-5 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-5 .dropdown-menu a:hover,
#dropdown-menu-5 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-5 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-5 .btn {
  font-size: 15px;
}
#contacts1-6 P {
  font-size: 12px;
}
#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-9 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-9 .btn {
  font-size: 15px;
}
#contacts1-a P {
  font-size: 12px;
}
#content1-2g P {
  font-size: 20px;
}
#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-c .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-c .btn {
  font-size: 15px;
}
#footer1-l P {
  text-align: center;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #333333;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-m .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-m .btn {
  font-size: 15px;
}
#msg-box4-u .mbr-header__text {
  color: #333333;
  font-size: 30px;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
  font-size: 16px;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
  font-size: 15px;
}
#msg-box4-u .mbr-article P {
  text-align: left;
}
#msg-box4-u .mbr-header__subtext SPAN {
  font-size: 17px;
}
#contacts1-a P {
  font-size: 12px;
}
#msg-box4-19 .mbr-header__text {
  color: #333333;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-16 .nav .link,
#dropdown-menu-16 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-16 .navbar,
#dropdown-menu-16 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-16 .dropdown-menu a:hover,
#dropdown-menu-16 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-16 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-16 .btn {
  font-size: 15px;
}
#contacts1-17 P {
  font-size: 12px;
}
#msg-box4-1i .mbr-header__text {
  color: #333333;
}
#msg-box4-1i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1i .mbr-article {
  color: #ffffff;
}
#dropdown-menu-1f .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1f .nav .link,
#dropdown-menu-1f .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1f .navbar,
#dropdown-menu-1f .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1f .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1f .dropdown-menu a:hover,
#dropdown-menu-1f .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1f .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1f .btn {
  font-size: 15px;
}
#contacts1-1g P {
  font-size: 12px;
}
#msg-box3-1q .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1q .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1q .mbr-article P {
  color: #ffffff;
  text-align: left;
}
#msg-box3-1q .mbr-article DIV {
  color: #ffffff;
  text-align: left;
}
#msg-box3-1q .mbr-article {
  color: #ffffff;
}
#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1k .btn {
  font-size: 15px;
}
#contacts1-1l P {
  font-size: 12px;
}
#msg-box4-21 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#dropdown-menu-1z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1z .nav .link,
#dropdown-menu-1z .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-1z .navbar,
#dropdown-menu-1z .dropdown-menu {
  background: #333333;
}
#dropdown-menu-1z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1z .dropdown-menu a:hover,
#dropdown-menu-1z .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1z .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1z .btn {
  font-size: 15px;
}
#contacts1-20 P {
  font-size: 12px;
}
#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-23 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-23 .btn {
  font-size: 15px;
}
#contacts1-24 P {
  font-size: 12px;
}
#dropdown-menu-25 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-25 .nav .link,
#dropdown-menu-25 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-25 .navbar,
#dropdown-menu-25 .dropdown-menu {
  background: #3c3c3c;
}
#dropdown-menu-25 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-25 .dropdown-menu a:hover,
#dropdown-menu-25 .dropdown-menu a:focus {
  background: #323232;
}
#dropdown-menu-25 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-25 .btn {
  font-size: 15px;
}
#contacts1-26 P {
  font-size: 12px;
}
#dropdown-menu-2e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2e .nav .link,
#dropdown-menu-2e .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-2e .navbar,
#dropdown-menu-2e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-2e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2e .dropdown-menu a:hover,
#dropdown-menu-2e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-2e .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-2e .btn {
  font-size: 15px;
}
#contacts1-2f P {
  font-size: 12px;
}
